<template>
  <gl-card>
    <template #header>
      <strong>{{ name }}</strong>
    </template>

    <p>
      This flag was introduced in
      <a v-if="milestone && milestone !== 'unknown'" :href="introducedBy"
        >%{{ milestone }}</a
      >
      <a v-else :href="introducedBy">an unknown milestone</a>
      and is owned by the <strong>{{ parsedGroup }}</strong> group. It
      <strong>has<span v-if="!enabled"> not</span></strong>
      been enabled by default.
    </p>

    <ul class="links">
      <li>
        <strong>Introduced by:</strong>&nbsp;
        <a v-if="introducedBy" :href="introducedBy">{{ introducedByClean }}</a>
        <span v-else>Unknown</span>
      </li>

      <li>
        <strong>Rollout Issue:</strong>&nbsp;
        <a v-if="rolloutIssue" :href="rolloutIssue">{{ rolloutIssueClean }}</a>
        <span v-else>None</span>
      </li>
    </ul>

    <div>
      <gl-badge v-if="milestone" class="mr-2 mb-2">%{{ milestone }}</gl-badge>
      <gl-badge v-if="type" class="mr-2 mb-2">{{ type }}</gl-badge>
      <gl-badge v-if="group" class="mr-2 mb-2" variant="info">{{
        group
      }}</gl-badge>
      <gl-badge v-if="enabled" class="mr-2 mb-2" variant="success"
        >Enabled</gl-badge
      >
      <gl-badge v-else class="mr-2 mb-2" variant="danger">Disabled</gl-badge>
    </div>
  </gl-card>
</template>

<script>
import parseGlUrl from "../utils/parseGlUrl";
import { GlBadge, GlCard } from "@gitlab/ui";

export default {
  components: {
    GlBadge,
    GlCard,
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    enabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    group: {
      type: String,
      required: false,
      default: "Unknown",
    },
    type: {
      type: String,
      required: false,
      default: "Unknown",
    },
    introducedBy: {
      type: String,
      required: false,
      default: "",
    },
    milestone: {
      type: String,
      required: false,
      default: "Unknown",
    },
    rolloutIssue: {
      type: String,
      required: false,
      default: "",
    },
  },
  computed: {
    parsedGroup() {
      return this.group ? this.group.replace("group::", "") : "Unknown";
    },
    introducedByClean() {
      return this.introducedBy ? `!${parseGlUrl(this.introducedBy)}` : null;
    },
    rolloutIssueClean() {
      return this.rolloutIssue ? `#${parseGlUrl(this.rolloutIssue)}` : null;
    },
  },
};
</script>

<style scoped>
h1 {
  word-break: break-all;
}
.links {
  list-style: none;
  padding: 0;
}
</style>
