<template>
  <gl-sorting
    :text="activeOpt.label"
    :is-ascending="isAscending"
    @sortDirectionChange="onDirectionChange"
  >
    <gl-sorting-item
      v-for="option in sortOptions"
      :key="option.id"
      :active="activeOpt.id === option.id"
      @click="onSortItemClick(option)"
    >
      {{ option.label }}
    </gl-sorting-item>
  </gl-sorting>
</template>

<script>
import {
  TYPE_GROUP,
  TYPE_ENABLED,
  TYPE_MILESTONE,
  TYPE_TYPE,
} from "../constants";
import { GlSorting, GlSortingItem } from "@gitlab/ui";

const sortOptions = [
  {
    id: TYPE_MILESTONE,
    label: "Milestone",
  },
  {
    id: TYPE_GROUP,
    label: "Group",
  },
  {
    id: TYPE_TYPE,
    label: "Type",
  },
  {
    id: TYPE_ENABLED,
    label: "Enabled",
  },
];

export default {
  components: {
    GlSorting,
    GlSortingItem,
  },
  data: () => ({
    activeOpt: sortOptions[0],
    sortOptions,
    isAscending: true,
  }),
  methods: {
    onSortItemClick(sortByItem) {
      this.activeOpt = sortByItem;
      this.sortMyData(sortByItem.id, this.isAscending);
    },
    onDirectionChange(isAscending) {
      this.isAscending = isAscending;
      this.sortMyData(this.activeOpt.id, this.isAscending);
    },
    sortMyData(sortBy, isAscending) {
      this.$emit("sort", { sortBy, isAscending });
    },
  },
};
</script>
